.navbar-links{
    display: flex;
    flex-direction: row;
    background-color: rgb(152, 203, 59);
}

.navbaritem{
    margin: 5px;
    padding: 5px;
    background-color:rgb(152, 203, 59);
    text-decoration:none;
    color: blue;
    font-size: larger;
}

